# ETL

##### Potential Strategies for replacing missing values and combined columns:
* HomePlanet (201)
    - Inital Strategy: Impute missing values for HomePlanet with 'most_frequent'  - Earth
    - Follow-on Strategy: Use Supervised Classification to predict missing HomePlanet<br><br>
    
* CryoSleep (217)
    - Inital Strategy: Impute CryoSleep with 'most_frequent' - False
    - Follow-on Strategy: Use KKN to Classify missing CryoSleep<br><br>
    
* Cabin (199)
    - Inital Strategy: Drop missing values then decompose Cabin into deck, num, side
    - Follow-on Strategy: Use KNN to Classify missing Cabin<br><br>

* Destination (182)
    - Inital Strategy: Impute Destination with 'most_frequent' - TRAPPIST-1e
    - Follow-on Strategy: Use Supervised Classification to predict missing Destination<br><br>
    
* Age (179)
    - Inital Strategy: Imput Age with 'most_frequent' (median age) - 27
    - Follow-on Strategy: Use Supervised Regression to predict missing Age<br><br>

* VIP (203)
    - Inital Strategy: Impute VIP status with 'most_frequent' - False
    - Follow-on Stragegy: Use KKN to Classify missing VIP status<br><br>

* RoomService (181), FoodCourt (183), ShoppingMall (208), Spa (183), VRDeck (188)
    - Inital Strategy: Impute missing values for RoomService, FoodCourt, ShoppingMall, Spa, VRDeck with 0<br><br>

* Name (200) 
    - Inital Strategy: Drop missing values then just keep last name
    - Follow-on Strategy: Use unsupervised learning to bin names and then classify the 'class' using K-Nearest Neighbor<br><br>

* PassengerId (0)
    - Inital Strategy: use string.split to split into GroupId and GroupCount

In [1]:
# pip install psycopg2

In [2]:
# import general dependencies
import pandas as pd
import numpy as np
import os

from numpy import asarray

# import from sqlalchemy
from sqlalchemy import create_engine
import psycopg2

# import sklearn dependencies
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
# create a path to the passenger_list
file_path = "./Data/"
file_name = "test.csv"
passenger_list = os.path.join(file_path, file_name)
passenger_list

'./Data/test.csv'

In [6]:
# create a function that takes in passenger_list csv file as an argument
def extract_transform_load(passenger_list):
    # Read in the passenger list (train.csv)
    passenger_list_df = pd.read_csv(passenger_list)
    
    # set PassengerId as the dataframe index
    passenger_list_df.set_index('PassengerId', inplace=True, drop=False)
    
    # drop rows with missing values
    passenger_list_df.dropna(how='any', inplace=True)
    
    # breakout GroupId and Count_in_Group from PassengerId
    passenger_list_df = passenger_list_df.copy()
    passenger_list_df[['GroupId', 'Count_in_Group']] = passenger_list_df['PassengerId'].str.split("_", expand=True)
    
    # take steps to convert 'Count_in_Group' to Group_Size
    # recast 'Count_in_Group' to int
    passenger_list_df['Count_in_Group'] = passenger_list_df['Count_in_Group'].astype(int)
    
    # convert GroupId to numeric
    passenger_list_df['GroupId'] = pd.to_numeric(passenger_list_df['GroupId'])
    
    # get list of GroupId (to iterate over)
    Group_Ids = list(passenger_list_df['GroupId'])
    
    # create new column called Group_Size (max Count_in_Group) for each unique GroupId
    # use list comprehension
    passenger_list_df['Group_Size'] = [max(passenger_list_df.loc[passenger_list_df['GroupId'] == Group_Id]['Count_in_Group']) for Group_Id in Group_Ids]
                                               
    # drop Name
    passenger_list_df.drop(columns=['Name'], inplace=True)
    
    # breakout 'Side', 'Deck', 'Cabin_Number' from Cabin
    passenger_list_df[["Deck", "Cabin_Number", "Side"]] = passenger_list_df['Cabin'].str.split("/", expand=True)
    
    # drop Cabin
    passenger_list_df.drop(columns=['Cabin'], inplace=True)    
 
    # to columns to numeric using LabelEncoder
    # and 'Side' (an object) 
    # and 'Deck' (an object)
    # and 'VIP' (an object)
    # and 'CryoSleep' (an object)
    # and 'HomePlanet' (an object)
    # and Destination (an object)
   
    columns_to_convert = ['Side', 'Deck', 'VIP', 'CryoSleep', 'HomePlanet', 'Destination']
    for column in columns_to_convert:
        # define labelEncoder encoding
        label_encoder = LabelEncoder()
        
        # fit and transform the data into numeric using LabelEncoder()
        passenger_list_df[column] = label_encoder.fit_transform(passenger_list_df[column])
    
    #     # fit and transform 'Side' into numeric using LabelEncoder()
    #     passenger_list_df['Side'] = label_encoder.fit_transform(passenger_list_df['Side'])

    #     # fit and transform 'Deck' into numeric using LabelEncoder()
    #     passenger_list_df['Deck'] = label_encoder.fit_transform(passenger_list_df['Deck'])

    #     # fit and transform 'VIP' into numeric using LabelEncoder()
    #     passenger_list_df['VIP'] = label_encoder.fit_transform(passenger_list_df['VIP'])

    #     # fit and transform 'CryoSleep' into numeric using LabelEncoder()
    #     passenger_list_df['CryoSleep'] = label_encoder.fit_transform(passenger_list_df['CryoSleep'])

    #     # fit and transform 'HomePlanet' to an numeric using LabelEncoder()
    #     passenger_list_df['HomePlanet'] = label_encoder.fit_transform(passenger_list_df['HomePlanet'])

    #     # fit and transform 'Destination' to a numeric using LabelEncoder()
    #     passenger_list_df['Destination'] = label_encoder.fit_transform(passenger_list_df['Destination'])
    
    # convert Cabin_Number to an int
    passenger_list_df['Cabin_Number'] = passenger_list_df['Cabin_Number'].astype(int)
       
    # reorder columns
    columns = ['GroupId', 'Group_Size', 'HomePlanet', 'Destination', 'Side', 'Deck', 'Cabin_Number', 'Age', 'CryoSleep', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
    passenger_list_df = passenger_list_df[columns]       
    
    # return the passenger_list_df dataframe
    return passenger_list_df
    
    ###################### LOAD ####################################
    # Store environmental variable
    from getpass import getpass
    password = getpass('Enter database password')
    # create connection to our local server
    db_string = f"postgresql://postgres:{password}@127.0.0.1:5435/starship_titanic_db"
    
    # create the database engine using from sqlalchemy import create_engine
    engine = create_engine(db_string)
    
    # save the movies_df DataFrame to a SQL table, we only have to specify the name of the table and the engine in the to_sql() method.
    # Use 'replace' for the if_exists parameter so that the movies_df DataFrame data won't be added to the table again (if it already exists).
    passenger_list_df.to_sql(name='test_passenger_list', con=engine, if_exists='replace')

In [7]:
# call the extract_transform_load function
passenger_list_df = extract_transform_load(passenger_list)

In [8]:
# view the passenger_list_df
passenger_list_df

,GroupId,Group_Size,HomePlanet,Destination,Side,Deck,Cabin_Number,Age,CryoSleep,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,,,,,,
0013_01,13,1,0,2,1,6,3,27.0,1,0,0.0,0.0,0.0,0.0,0.0
0018_01,18,1,0,2,1,5,4,19.0,0,0,0.0,9.0,0.0,2823.0,0.0
0019_01,19,1,1,0,1,2,0,31.0,1,0,0.0,0.0,0.0,0.0,0.0
0021_01,21,1,1,2,1,2,1,38.0,0,0,0.0,6652.0,0.0,181.0,585.0
0023_01,23,1,0,2,1,5,5,20.0,0,0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9263_01,9263,1,0,2,1,6,1495,43.0,1,0,0.0,0.0,0.0,0.0,0.0
9265_01,9265,1,2,2,1,3,278,43.0,0,0,47.0,0.0,3851.0,0.0,0.0
9266_01,9266,2,0,2,1,5,1796,40.0,0,0,0.0,865.0,0.0,3.0,0.0
9266_02,9266,2,0,2,1,6,1496,34.0,1,0,0.0,0.0,0.0,0.0,0.0
9277_01,9277,1,0,1,1,6,1498,43.0,1,0,0.0,0.0,0.0,0.0,0.0

In [9]:
# save the clean_passenger_list_df as a csv file
passenger_list_df.to_csv("./Data/clean_test_passenger_list.csv")